body {
    padding: 10;
    font-family: 'Nunito', sans-serif;
    background: rgb(180, 220, 255);
}

.bday {
    position: static;
    margin: 0; /* Elimina el margen superior del encabezado */
    padding: 10px 0; /* Agrega relleno superior e inferior al encabezado */
    text-align: center; /* Centra el texto en el encabezado */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    font-size: 48px;
    font-weight: 600;
    color: #0e2804;
    background-color: whitesmoke;
    width: 100%;
}

.back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation-name: backdiv;
    animation-duration: 3500ms;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heart {
    background-color: rgb(255, 0, 13);
    height: 150px;
    width: 150px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 3500ms;
    animation-iteration-count: infinite;
    position: relative;
}

.heart:after,
.heart:before {
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 150px;
    height: 150px;
}

.heart:after {
    background-color: rgb(255, 0, 13);
    top: 0;
    left: 80px;
}

.heart:before {
    background-color: rgb(255, 0, 21);
    top: -80px;
    left: 0;
}

@keyframes backdiv {
    50% {
        background: #3992e6fd;
    }
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(-45deg);
    }

    50% {
        transform: scale(0.6) rotate(-45deg);
    }
}
